.container{
    height: 200px;
    width: 300px;
    border: 1px solid black;
    margin: 5px;
    padding-left: 30px;
    margin-left: 200px;
    margin-top: 250px;
}
.content{
    margin: 10px;
    padding-top: 4px;

}

.but{
    padding-top: 10px;
    text-align: center;
  

}
.oprater{
    padding-left: 30px;
    margin-left: 70px;
    margin-top: 10px;
    border-radius: 10px;

}
button:hover{
    background: white;
}

.content3{
    padding-left: 20px;
}